.idea/
.vscode/settings.json
*.out
config*.yaml
testcnf.yaml
cloudfuse.log
cloudfuse.test
azuretest.json
cloudfuse
cloudfuse.exe
cfusemon.exe
adlsgen1fuse
missing_log.lst
venv/
*.backup
__debug_bin*
.env
**/var.ps1
*.prof
cpplite/
test/manual_scripts/create1000.go
test/manual_scripts/cachetest.go
lint.log
azure-storage-fuse
cfusemon
windows-startup.exe
**/cloudfuse-logs.txt
test-scripts/helper/var.env
gui/__pycache__/
gui/pyside6/__pycache__/
cloudfuse-logs.txt
ui_*.py
test/scripts/dirIterate.go
**/logfile.txt
dist/
**/Output/
/gui/build/**
/build/winfsp-*
manpages/
changelog.yml
component/azstorage/logfile.txt
# Ignore all log files
logfile.txt
**/logfile.txt
**/logfile.txt.*
