[Unit]
Description=Cloudfuse is an open source project developed to provide a virtual filesystem backed by S3 or Azure storage.
After=network-online.target
Requires=network-online.target

[Service]
# User service will run as.
User=CloudfuseUser
# Path to the location Cloudfuse will mount to. Note this folder must currently exist.
Environment=MoutingPoint=/home/jfan/Desktop/mount
# Path to the configuration file.
Environment=ConfigFile=/home/jfan/code/cloudfuse/config.yaml

# Under the hood
Type=forking
ExecStart=/usr/bin/cloudfuse mount /home/jfan/Desktop/mount --config-file=/home/jfan/code/cloudfuse/config.yaml
ExecStop=/usr/bin/fusermount -u /home/jfan/Desktop/mount -z

[Install]
WantedBy=multi-user.target
